@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap");

body {
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-weight: 150vw;
}
* {
  font-family: Poppins;
  margin: 0;
  padding: 0;
}

.user-img {
  width: 300px;
  display: flex;
  align-items: end;
  margin: 15px;
  float: left;
  border-radius: 10%;
  border: 3px solid #000;
}

.nav-bar {
  display: flex;
  list-style: none;
  justify-content: space-around;
  font-size: 100%;
  background-color: #9e9d9b;
  position: relative;
}

.nav-item {
  text-decoration: none;
  color: black;
  list-style: none;
  margin-top: 10px;
  margin-left: 10px;
}

.lista {
  list-style: none;
  margin-top: 5px;
  margin-left: 20px;
}

.lista-b {
  margin-top: 5px;
  margin-left: 70px;
}

.title {
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 20px;
}

.bold {
  font-weight: 600;
  text-decoration: none;
}

.nav-item:hover {
  color: #474746;
}

.fecha {
  font-weight: 600;
  margin: 10px;
}

.map {
  margin: 20px;
  border-radius: 10%;
  border: 3px solid #000;
  display: flex;
  width: auto;
  height: auto;
}
